// Normally mainpage styles
 
 /*----------sidebar----------*/
 .sidebar{
 	position: fixed;
 	height: 100vh;
 	left: 0;
 	top: 0;
 	width: 363px;
 	background:#fff;
 	z-index: 50;
 }
 	.sidebar_inner{
 		position: relative;
 		padding: 39px 50px;
 		&:before{
 			content: '';
 			width: 8px;
			height: 455px;
			background-color: #1fc66a;
			position: absolute;
			top: 60px;
			left: 0;
 		}
 	}
 		.logo{
 			display: block;
 			padding-bottom: 45px
 		}
 		.main_menu{
 			width: 208px;
 			margin-bottom: 28px;
 			border-bottom: 1px #d6d6d6 solid;
 			li{
 				display: block;
 				padding-bottom: 27px;
 				a{
					font-size: 18px;
					color: #818181;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
 				}
 			}
 		}
 		.sid_contacts{
 			strong{
 				display: block;
 				padding-bottom: 10px;
 				font-size: 20px;
 				color: #000000;
 				font-weight: normal;
 			}
 			.button{
 				width: 164px;
 				border-radius: 14px;
 				background: none;
 				border: 1px solid #818181;
 				font-size: 14px;
 				font-weight: normal;
 				text-transform: none;
 				color: #818181;
 				padding: 7px 0;
 				&:hover{
 					background:#818181;
 					color: #fff
 				}
 			}
 		}
 /*----------end-sidebar----------*/

 /*----------header----------*/

 .header{
	position: relative;
	background:url(../img/top_bg.jpg) no-repeat left top;
	min-height: 898px;
	&:before{
		content: url(../img/man_top2.png);
		position: absolute;
		left: -75px;
  		top: 0px;
  		z-index: 51;
	}
 }
 	.slogan{
 		padding: 72px 0 0 315px;
 		position: relative; 
 		width: 700px;
 		color: #fff;
 		h6{
 			text-transform: uppercase;
 			color: #fff;
 			font-size: 48px;
 			font-family: $fontfamily;
 		}
 		small{
 			position: absolute;
 			width: 426px;
			font-size: 20px;
			line-height: 25px;
			top: 210px;
    		right: 65px;
 		}
 	}
	.main_form{
		width: 544px;
		height: 335px;
		position: relative;
		z-index: 52;
		padding: 16px;
		box-sizing: border-box;
		margin: 80px 0 0 400px;
		border: 4px solid #fff;
		h6{
			font-size: 20px;
			color: #fff;
			text-transform: uppercase;
			margin-bottom: 20px;
			strong{
				color: #20c66a;
				font-weight: normal;
			}
		}
		h4{
			font-size: 36px;
			text-transform: uppercase;
			font-family: $fontfamily;
			margin-bottom: 5px;
			color: #fff;
		}
		h5{
			color: #fff;
			font-size: 20px;
			text-transform: uppercase;
			padding-bottom: 23px;
			strong{
			color: #20c66a;
			}

		}
		small{
			font-size: 13px;
			color: #fff;
			display: block;
			line-height: 16px;
		}
		form{
			div{
				padding-bottom: 20px;
			}
			.button{
				display: block;
				width: 100%;
			}
			input{
				width: 100%;
			}
		}
	}
/*----------end-header----------*/	


/*----------main----------*/
 
 .main{
	@include povh('');
	& > div{
		position: relative;
	}
 }
	.different_wrap{
		background:url(../img/screen_bg2.jpg) no-repeat top left;
	}
		.different_tags{
			padding: 190px 0 0px 0;
			font-size: 0;
			vertical-align: top;
		}
			.different_tag{
				color: #fff;
				font-size: 14px;
				display: inline-block;
				vertical-align: top;
				width: 230px;
				height: 315px;
				background:#20c66a;
				font-size: 15px;
				text-align: center;
				padding:  0 15px;
				box-sizing: border-box;
				figure{
					padding: 13px 0 0 0 ;
					figcaption{
						font-size: 17px;
						padding: 21px 0 15px 0;
						text-transform: uppercase;
					}
				}
				&:nth-child(2){
					background:#1eb05f;
				}
				&:nth-child(3){
					background:#1aa659;
				}
				&:nth-child(4){
					background:#169950;
				}
				&:nth-child(5){
					background:#118545;
				}
			}
		.title{
			padding: 50px 0 35px 66px;
			font-size: 48px;
			color: #f3f3f3;
			text-transform: uppercase;
			font-family: $fontfamily;
		}
		.different_text{
			@include povh('');
			padding-left: 66px;
			section{
				width: 400px;
				float: left;
				padding: 0 125px 70px 0;
				p{
					padding: 18px 0 0 0;
				}
			}
		}

	.price_wrap{
		height: 800px;
		background:url(../img/screen_bg3.jpg) no-repeat left top;
	}
		.price_table{
			margin-top: 90px ;
			color: #fff;
			table{
				width: 100%;
				border-collapse:separate;
				border-spacing: 0px 6px; 
				th{
					font-size: 16px;
					padding: 17px;
					text-align: left;
					background:rgba(32,198,106, 0.8);
				}
				td{
					font-size: 16px;
					padding: 17px;
					background: rgba(49,49,49, .8);
					margin-bottom: 10px ;
				}
			}
		}

	.order_wrap{
		background: url(../img/man2_transparent.png) no-repeat left top, url(../img/man2_bg.jpg) no-repeat left top;
		height: 550px;
		@include povh('');
		.main_form{
			margin:53px 0 0 70px;
			border: none;
			padding: 37px 0 0 37px;
			h6{
				font-size: 36px;
				text-transform: uppercase;
				font-family: $fontfamily;
				margin-bottom: 5px;
			}
		}
	}

	.preference_wrap{
		.title{
			color: #000;
		}
		height: 915px;
		background:#dee7ed url(../img/pref_img.jpg) no-repeat left bottom;
	}
		.preference_block{
			figure{
				float: left;
				width: 260px;
				text-align: center;
				padding: 0 130px 30px 0;
				height: 310px;
				&:nth-child(3), &:last-child{
					padding-right: 0;
				}
				&:nth-child(4){
					margin-left: 390px;
				}
				font-size: 16px;
				color: #585858;
				strong{
					display: block;
					padding: 10px 0 7px 0;
					color: #000;
					text-transform: uppercase;
					font-weight: 600;
				}
				em{
					font-style: normal;
				}
			}
		}

	.compare_wrap{
		height: 800px;
		font-size: 16px;
		color: #fff;
		background: #1b9250 url(../img/compare_line.jpg) repeat-y left top;
		h4{
			font-size: 18px;
			height: 95px;
			color: #fff;
			text-transform: uppercase;
			font-weight: 600;
		}
		li{
			position: relative;
			padding: 0 50px 24px 24px;
			line-height: 22px;
			&:before{
				content: '';
				border-radius: 50%;
				width: 9px;
				height: 9px;
				background:#e30613;
				position: absolute;
				left: 0;
				top: 6px;

			}
		}
	}
		.compare_wrap .container > div{
			float: left;
			width: 510px;
			padding: 15px;
			box-sizing: border-box;
			background:url(../img/minus.png) no-repeat left top;
			&.compare_right{
				padding-left: 30px;
				background:url(../img/plus.png) no-repeat 13px top;
			}
		}
		.compare_right{
			li{
				line-height: 28px;
				font-size: 20px;
				&:before{
					background:#fff;
				}
			}
		}

	.how_work_wrap{
		height: 800px;
		background:url(../img/screen_bg7.jpg) no-repeat top left;
	}
		.how_work_block{
			@include povh('');
		}
		.how_work{
			@include povh('');
			float: left;
			width: 389px;
			height: 518px;
			color: #fff;
			cursor: pointer;
			background:#20c66a;
			&:nth-child(2){
				background:#1eb05f;
				section{
					background:#1eb05f;
				}
			}
			&:nth-child(3){
				background:#1aa659;
				section{
					background:#1aa659;
				}
			}
			&:hover{
				section{
					top: 0;
					opacity: 1;
				}
			}
			img{
				display: block;
			}
			figure{
				@include povh('');
				width: 390px;
				height: 518px;
				figcaption{
					height: 100px;
					span{
						height: 100px;
						width: 390px;
						vertical-align: middle;
						display: table-cell;
						box-sizing: border-box;
						font-size: 24px;
						font-weight: 600;
						padding: 0 18px;
						text-transform: uppercase;
					}
				}
			}
			section{
				padding: 23px 17px;
				position: absolute;
				top: 100%;
				left: 0;
				opacity: 0;
				width: 100%;
				z-index: 2;
				background:#20c66a;
				box-sizing: border-box;
				height: 100%;
				font-size: 17px;
				line-height: 22px;
				@include transition(all 0.5s);
				h6{
					font-size: 24px;
					font-weight: 600;
					padding: 0 0 17px 0;
					text-transform: uppercase;
				}
			}
		}

	.repair_wrap{
		background:#dee7ed;
		padding-bottom: 55px;
		@include povh('');
		.title{
			color: #000;
		}
	}
		.attention{
			width: 900px;
			margin: 0 auto;
			box-sizing: border-box;
			padding: 16px;
			font-size: 20px;
			@include povh('');
			color: #000;
			margin-top: 35px;
			border: 4px solid #20c66a;
		}
		.repair_block{
			width: 900px;
			margin: 0 auto;
			@include povh('');
			counter-reset: list1;
			figure{
				width: 300px;
				float: left;
				@include povh('');
				overflow: visible;
				height: 510px;
				&:before{
					counter-increment: list1; 
   					content: counter(list1) ;
   					width: 46px;
					height: 46px;
					background-color: #1fc569;
					line-height: 46px;
					position: absolute;
					text-align: center;
					line-height: 46px;
					font-size: 30px;
					color: #fff;
					font-weight: 600;
					top: 0;
					right: 0;
				}
				&:after{
					content: url(../img/arrow.png);
					position: absolute;
					top: 105px;
					right: -31px;
					z-index: 2;
				}
				&:nth-child(3n){
					&:after{
						display: none;
					}
				}
				figcaption{
					padding: 12px;
					font-size: 16px;
					color: #585858;
					strong{
						display: block;
						padding-bottom: 10px;
						font-size: 18px;
						color: #000;
						text-transform: uppercase;
					}
				}
			}
		}

	.center_form{
		height: 550px;
		@include povh('');
		background:url(../img/form_bg.jpg) no-repeat top left;
		.main_form{
			margin: 50px 0 0 60px;
			float: left;
			height: auto;
		}
	}

	.portfolio_wrap, .numbers_wrap{
		@extend .repair_wrap;
	}
		.portfolio_block{
			section{
				@include povh('');
				clear: both;
			}
			figure{
				float: left;
				@include povh('');
				img{
					display: block;
				}
				figcaption{
					position: absolute;
					font-size: 24px;
					color: #fff;
					text-transform: uppercase;
					left: 20px;
					bottom: 20px;
				}
			}
		}

	.work_wrap{
		background:#1b9250;
		color: #fff;
		.container{
			counter-reset: list2;
			&:before, &:after{
				content: '';
				width: 22px;
				height: 22px;
				position: absolute;
				background:#fff;
				border-radius: 50%;
				top: 0;
				right: 0;
			}
			&:before{
				top: 74px;
			}
			&:after{
				top: 395px;
    			right: 754px;
			}
		}
		figure{
			float: left;
			width: 265px;
			margin: 0 130px 0 0;
			@include povh('');
			overflow: visible;
			height: 321px;
			text-align: center;
			&:nth-child(3){
				margin-right: 0;
			}
			&:nth-child(4){
				margin-left: 395px;
				&:after{
	    			right: 217px;
	    			width: 110px;
				}
			}
			&:nth-child(5){
				margin-right: 0;
				&:after{
	    			right: 217px;
				}
			}
			&:before{
				counter-increment: list2; 
   				content: '0' counter(list2) ;
   				position: absolute;
   				top: -5px;
   				left: 50px;
   				font-size: 20px;
   				font-weight: 500;
			}
			&:after{
				content: '';
				width: 226px;
				height: 1px;
				border-top: 3px dotted #fff;
				position: absolute;
				top: 26%;
    			right: -178px;
			}
			figcaption{
				font-size: 18px;
				padding: 13px 0 0 0;
			}
		}
	}

	.numbers_wrap{
		.container{
			margin-top: 80px;
			height: 640px;
			background:url(../img/graph.png) no-repeat center 10px;
			
			dl{
				font-size: 17px;
				color: #000;
				width: 300px;
				text-align: center;
				line-height: 25px;
				position: absolute;
				top: 0;
				left: 0;
				dt{
					text-transform: uppercase;
					font-size: 48px;
					font-family: $fontfamily;
					line-height: 1.1;
					padding-bottom: 15px;
				}
				&:nth-child(1){
					top: 0px;
					left: 70px;
				}
				&:nth-child(2){
					top: 291px;
    				left: 75px;
				}
				&:nth-child(3){
					top: 477px;
   				 	left: 407px;
				}
				&:nth-child(4){
					top: 291px;
    				left: 706px;
				}
				&:nth-child(5){
					top: 5px;
    				left: 708px;
				}
				&:nth-child(6){
					 top: 142px;
   					 left: 407px;
   					 dt{
   					 	color: #1b9250;
   					 	padding-bottom: 99px;
   					 }
				}
			}
		}
	}

	.reviews_wrap{
		background:#1b9250;
	}
		.reviews_slider{
			padding: 50px 0  150px 0;
			.bx-pager{
				display: none;
			}
			.bx-prev, .bx-next{
				width: 33px;
				height: 40px;
				display: inline-block;
				background:url(../img/slide_arrow.png) no-repeat;
				@include hide-text;
				opacity: 0.3;
				margin: 0 5px;
				@include transition(all 0.5s);
				&:hover{
					opacity: 1;
				}
				&.bx-prev{
					@include mirror_flip;
				}
			}
			.bx-controls-direction{
					z-index: 60;
				   position: absolute;
				    left: 231px;
				    bottom: 128px;
			}
		}
		.reviews_slider_inner{
			width: 860px;
			margin: 0 auto;
		}
			.reviews_slider_img{
				width: 230px;
				float: left;
				padding: 15px 0 0 0;
				@include povh('');
			}
			.reviews_slider_txt{
				@include povh('');
				line-height: 25px;
				font-size: 17px;
				color: #fff;
				h6{
					height: 45px;
					width: 230px;
					background:#fff;
					color: #1b9250;
					font-size: 20px;
					text-align: center;
					line-height: 45px;
					margin-bottom: 15px;
					text-transform: uppercase;
					transform: skewX(-20deg);
					margin-left: 10px;
					strong{
						font-weight: normal;
						position: relative;
						display: block;
						transform: skewX(20deg);
					}
				}
			}

	.contacts_wrap{
		height: 650px;
		@include povh('');
	}
		.map{
			height: 650px;
			@include povh('');
		}
		.contacts_block{
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			box-sizing: border-box;
			width: 335px;
			z-index: 40;
			color: #fff;
			padding: 16px 20px;
			background:rgba(30,85, 54, 0.85);
			.title{
				margin: 0;
				padding: 114px 0 22px  0;
				font-size: 35px;
				background:url(../img/Pin.png) no-repeat top left;
			}
			section{
				padding-bottom: 30px;
				font-size: 16px;
				line-height: 25px;
				strong{
					display: block;
				}
				p{
					padding-bottom: 19px;
				}
			}
			h5{
				font-size: 24px;
				font-weight: bold;
				padding-bottom: 10px;
			}
			h6{
				padding-bottom: 8px;
				font-size: 17px;
				font-weight: normal;
			}
			.button{
				color: #1b9250;
				background:#fff;
				display: block;
				&:hover{
					color: #fff;
					 @include button_gradient_hover('');
				}
			}
		}
/*----------end main----------*/	

	
/*----------footer----------*/
 
 .footer{
	@include povh('');
	padding: 26px 0;
	background:#0f2c1c;
	z-index: 55;
	font-size: 15px;
	color: rgba(255,255,255, 0.4);
	address{
	font-style: normal;
	padding: 0 80px 0 0;
	display: inline-block;
	}
 }
 	.footer_inner{
 		padding-left: 365px;
 	}
 	.develop{
 		display: inline-block;
 		a{
 			color: #fff;
 		}
 	}
 	.arrow_top{
 		position: absolute;
 		right: 10%;
 		top: 25px;
 	}

/*----------end footer----------*/

/*----------modal----------*/
.close_modal{
	display: block;
	width: 15px;
	height: 15px;
	background:url(../img/close_fancy.png) no-repeat center;
	cursor: pointer;
	position: absolute;
	right: 11px;
	top: 30px;
}
.modal{
	background:#fff;
	position: relative;
	padding: 10px 0;
	.title{
		font-size: 30px;
		color: #000;
		padding: 0 0 35px 0;
	}
	section{
		font-size: 18px;
		color: #000;
		p{
			padding-bottom: 40px;
		}
		form {
			p{
				padding-bottom: 0
			}
		}
	}
}
	.modal_inner{
		width: 510px;
		margin: 15px 0;
		padding: 0px 25px 0 20px;
		border-left: 8px solid #20c66a;
		input{
			border-color: #000;
			color: #000;
			width: 100%;
		}
		input.button{
			color: #fff;
			width: 100%;
			display: block;
		}
	}
		.form_item{
			padding-bottom: 25px;
		}
/*----------end modal----------*/

/*---------fixed-nav-----------*/
.fixed_nav{
	position: absolute;
	top: 45%;
	right: 0;
	width: 42px;
	z-index: 60;
	a{
		display: block;
		height: 35px;
		line-height: 35px;
		opacity: 0.4;
		background:#20c66a;
		font-size: 20px;
		color: #fff;
		text-align: center;
		line-height: 35px;
		text-decoration: none;
		&.active, &:hover{
			opacity: 1;
		}
	}
}
/*--------end-fixed-nav--------*/