// Normally mainpage styles
 
 /*----------sidebar----------*/
 .sidebar{
 	position: fixed;
 	height: 100vh;
 	left: 0;
 	top: 0;
 	width: 363px;
 	background:#fff;
 	z-index: 50;
 }
 	.sidebar_inner{
 		position: relative;
 		padding: 39px 50px;
 		&:before{
 			content: '';
 			width: 8px;
			height: 455px;
			background-color: #1fc66a;
			position: absolute;
			top: 60px;
			left: 0;
 		}
 	}
 		.logo{
 			display: block;
 			padding-bottom: 45px
 		}
 		.main_menu{
 			width: 208px;
 			margin-bottom: 28px;
 			border-bottom: 1px #d6d6d6 solid;
 			li{
 				display: block;
 				padding-bottom: 27px;
 				a{
					font-size: 18px;
					color: #818181;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
 				}
 			}
 		}
 		.sid_contacts{
 			strong{
 				display: block;
 				padding-bottom: 10px;
 				font-size: 20px;
 				color: #000000;
 				font-weight: normal;
 			}
 			.button{
 				width: 164px;
 				border-radius: 14px;
 				background: none;
 				border: 1px solid #818181;
 				font-size: 14px;
 				font-weight: normal;
 				text-transform: none;
 				color: #818181;
 				padding: 7px 0;
 				&:hover{
 					background:#818181;
 					color: #fff
 				}
 			}
 		}
 /*----------end-sidebar----------*/

 /*----------header----------*/

 .header{
	position: relative;
	background:url(../img/top_bg.jpg) no-repeat left top;
	min-height: 898px;
	&:before{
		content: url(../img/man_top2.png);
		position: absolute;
		left: -75px;
  		top: 0px;
  		z-index: 51;
	}
 }
 	.slogan{
 		padding: 72px 0 0 315px;
 		position: relative; 
 		width: 700px;
 		color: #fff;
 		h6{
 			text-transform: uppercase;
 			color: #fff;
 			font-size: 48px;
 			font-family: $fontfamily;
 		}
 		small{
 			position: absolute;
 			width: 426px;
			font-size: 20px;
			line-height: 25px;
			top: 210px;
    		right: 65px;
 		}
 	}
	.main_form{
		width: 544px;
		height: 335px;
		position: relative;
		z-index: 52;
		padding: 16px;
		box-sizing: border-box;
		margin: 80px 0 0 400px;
		border: 4px solid #fff;
		h6{
			font-size: 20px;
			color: #fff;
			text-transform: uppercase;
			margin-bottom: 20px;
			strong{
				color: #20c66a;
				font-weight: normal;
			}
		}
		h5{
			color: #fff;
			font-size: 20px;
			text-transform: uppercase;
			padding-bottom: 23px;

		}
		small{
			font-size: 13px;
			color: #fff;
			display: block;
			line-height: 16px;
		}
		form{
			div{
				padding-bottom: 20px;
			}
			.button{
				display: block;
				width: 100%;
			}
			input{
				width: 100%;
			}
		}
	}
/*----------end-header----------*/	


/*----------main----------*/
 
 .main{
	@include povh('');
 }
	.different_wrap{
		background:url(../img/screen_bg2.jpg) no-repeat top left;
	}
		.different_tags{
			padding: 190px 0 0px 0;
			font-size: 0;
			vertical-align: top;
		}
			.different_tag{
				color: #fff;
				font-size: 14px;
				display: inline-block;
				vertical-align: top;
				width: 230px;
				height: 315px;
				background:#20c66a;
				font-size: 15px;
				text-align: center;
				padding:  0 15px;
				box-sizing: border-box;
				figure{
					padding: 13px 0 0 0 ;
					figcaption{
						font-size: 17px;
						padding: 21px 0 15px 0;
						text-transform: uppercase;
					}
				}
				&:nth-child(2){
					background:#1eb05f;
				}
				&:nth-child(3){
					background:#1aa659;
				}
				&:nth-child(4){
					background:#169950;
				}
				&:nth-child(5){
					background:#118545;
				}
			}
		.title{
			padding: 50px 0 35px 66px;
			font-size: 48px;
			color: #f3f3f3;
			text-transform: uppercase;
			font-family: $fontfamily;
		}
		.different_text{
			@include povh('');
			padding-left: 66px;
			section{
				width: 400px;
				float: left;
				padding: 0 125px 70px 0;
				p{
					padding: 18px 0 0 0;
				}
			}
		}

	.price_wrap{
		height: 800px;
		background:url(../img/screen_bg3.jpg) no-repeat left top;
	}
		.price_table{
			margin-top: 90px ;
			color: #fff;
			table{
				width: 100%;
				border-collapse:separate;
				border-spacing: 0px 6px; 
				th{
					font-size: 16px;
					padding: 17px;
					text-align: left;
					background:rgba(32,198,106, 0.8);
				}
				td{
					font-size: 16px;
					padding: 17px;
					background: rgba(49,49,49, .8);
					margin-bottom: 10px ;
				}
			}
		}

	.order_wrap{
		background: url(../img/man2_transparent.png) no-repeat left top, url(../img/man2_bg.jpg) no-repeat left top;
		height: 550px;
		@include povh('');
		.main_form{
			margin:53px 0 0 70px;
			border: none;
			padding: 37px 0 0 37px;
			h6{
				font-size: 36px;
				text-transform: uppercase;
				font-family: $fontfamily;
				margin-bottom: 5px;
			}
		}
	}

	.preference_wrap{
		.title{
			color: #000;
		}
		height: 915px;
		background:#dee7ed url(../img/pref_img.jpg) no-repeat left bottom;
	}
		.preference_block{
			figure{
				float: left;
				width: 260px;
				text-align: center;
				padding: 0 130px 30px 0;
				height: 310px;
				&:nth-child(3), &:last-child{
					padding-right: 0;
				}
				&:nth-child(4){
					margin-left: 390px;
				}
				font-size: 16px;
				color: #585858;
				strong{
					display: block;
					padding: 10px 0 7px 0;
					color: #000;
					text-transform: uppercase;
					font-weight: 600;
				}
				em{
					font-style: normal;
				}
			}
		}
/*----------end main----------*/	

	
/*----------footer----------*/
 
 .footer{
	@include povh('');
 }

/*----------end footer----------*/